h3 
	{ color: red;
	  font-style: italic;
	  font-size: 150%;
	  font: helvetica;
	  font-weight: 300;
 }

 p
 	{ color: purple;
 	  font-weight: 600;
 	  font-style: lighter; 
 }


 h1, h2 
 		{ color: #00eeff;
 		  font: verdana;
 		  font-kerning: 600px;
 		  text-decoration: underline;

 }

 div 
 	{ background-color: pink;
 	  height: 40px;
 	  width: 50%;
 }

 img
 	 { border: 5px solid green;
 	   padding: 3px;
 	   margin: 0px 10px 10px 0px;
 }